In [3]:
import pandas as pd
#from sklearn.tree import DecisionTreeClassifier
import joblib

data = pd.read_csv('music.csv')
X = data.drop(columns  = ['genre'])
y = data['genre']

X

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [29]:
model = DecisionTreeClassifier()
model.fit(X,y)

joblib.dump(model,'music_recommender.joblib')

['music_recommender.joblib']